{% extends 'partials/inner_nav.html' %}
<!-- vertical nav-->

{% block nav_links %}
<a class="nav-link active" href="#device-detail-tab" id="device-detail-tab" data-bs-toggle="tab" data-bs-target="#device-detail" type="button" role="tab" aria-controls="device-detail" aria-selected="true" aria-current="page">

    <svg xmlns="http://www.w3.org/2000/svg" class="align-top" width="27" height="27" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 18 18">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    <span class="inventory-innernav-text text-truncate align-bottom">Details</span>
</a>
<a class="nav-link" href="#device-history-tab" id="device-history-tab" data-bs-toggle="tab" data-bs-target="#device-history" type="button" role="tab" aria-controls="device-history">
    <svg xmlns="http://www.w3.org/2000/svg" class="align-top" width="27" height="27" fill="currentColor" class="bi bi-calendar" viewBox="0 0 18 18">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
    </svg>
    <span class="inventory-innernav-text text-truncate align-bottom">History</span>
</a>
<a class="nav-link" href="#assignment-history-tab" id="assignment-history-tab" data-bs-toggle="tab" data-bs-target="#assignment-history" type="button" role="tab" aria-controls="assignment-history">
    <svg xmlns="http://www.w3.org/2000/svg" class="align-top" width="27" height="27" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 18 18">
        <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
    </svg>
    <span class="inventory-innernav-text text-truncate align-bottom">Assignment History</span>
</a>
{% endblock nav_links %}