{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Google Person Mapping{% endblock %}

{% block head %}
{{ block.super }}
{% include "partials/datatables.html"%}

    <script>
        $(document).ready(function () {
            $('#googlepersonmapping_list').DataTable();
        });
    </script>

{% endblock head %}

{% block content %}
    <div class="container-fluid mt-2">

    {% if googlepersonmapping_list %}

        <table id="googlepersonmapping_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Serial Number</th>
                </tr>
            </thead>
            <tbody>
                
    {% for device in device_list %}

                <tr>
                    <td>
                        {{ device.asset_id }}
                    </td>
                    <td>
                        {{ device.serial_number }}
                    </td>
                </tr>

    {% endfor %}

            </tbody>
        </table>

    {% else %}

        <p>No devices are available.</p>

    {% endif %}

        <a class="btn btn-primary m-2" role="button"  href="{% url 'devices:new' %}">Create Device</a>
    </div>
{% endblock content %}