{% extends "dashboard/dashboard.html" %}

{% load static sekizai_tags %}

{% block title %}Inventory - Assignments{% endblock %}

{% block js %}
{{ block.super }}
{% addtoblock "js" %}
    {% include "partials/datatables_js.html"%}
    <script src="{% static 'assignments/deviceassignment_list.js'%}"></script>
{% endaddtoblock %}
{% endblock js %}

{% block css %}
{{ block.super }}
{% addtoblock "css" %}
    {% include "partials/datatables_css.html"%}
{% endaddtoblock %}
{% endblock css %}

{% block content %}
    <div class="container-fluid mt-2">
        {% with prefix=tables.assignment_list %}
            {% include 'partials/table.html' with table_id=prefix.id headers=prefix.headers %}
        {% endwith %}
    </div>
{% endblock content %}