{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Assignments{% endblock %}

{% block head %}

    {{ block.super }}

    {% include "partials/datatables.html"%}

    {% load static %}
    <link href="{% static 'assignments/deviceassignment_list.css'%}" rel="stylesheet" />
    <script src="{% static 'assignments/deviceassignment_list.js'%}"></script>

{% endblock head %}

{% block content %}

    {% with prefix=tables.assignment_list %}
        {% include 'partials/table.html' with table_id=prefix.id headers=prefix.headers %}
    {% endwith %}

    {% if perms.assignments.add_deviceassignment %}
        <a class="btn btn-primary m-2" role="button" href="{% url 'assignments:new' %}">Create Assignment</a>
        <a class="btn btn-primary m-2" role="button" href="{% url 'assignments:quickassign' %}">Quick Assign</a>
    {% endif %}

{% endblock content %}