{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Assignment Edit{% endblock %}

{% block content %}

{{ instance }}

{% if deviceassignment %}
    
        <div class="row">
            <div class="col md-6">
                {% include './partials/deviceassignment_infobox.html' %}
            </div>
        </div>

    {% else %}

    <p>Assignment Not Found</p>

    {% endif %}

    <form method="post">
        {% csrf_token %}
        <form>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ol>
                    {% for error in form.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
            </div>
            {% endif %} 

          <button class="btn btn-primary m-2" role="button" type="submit">Turn In Device</button>
          <a class="btn btn-primary m-2" role="button" href="{% url 'assignments:index' %}">Cancel</a>
          </form>

        
    </form>

{% endblock content %}