{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Assignments{% endblock %}

{% block head %}

{% include "datatables.html"%}

    <script>
        $(document).ready(function () {
            $('#person_list').DataTable();
        });
    </script>

{% endblock head %}

{% block content %}

{% if deviceassignment_list %}
    <table id="person_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>*</th>
                <th>Person</th>
                <th>Device</th>
                <th>Assignment Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
        <ul>
        {% for deviceassignment in deviceassignment_list %}
        <tr>
            <td>
                <a href="/assignments/{{ deviceassignment.id }}/">{{ deviceassignment.id }}</a></li>
            </td>
            <td>
                {{deviceassignment.person.display_name}}
            </td>
            <td>
                {{deviceassignment.device.display_name}}
            </td>
            <td>
                {{deviceassignment.assignment_datetime}}
            </td>
            <td>
                {{deviceassignment.return_datetime}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <p>No assignments are available.</p>

{% endif %}

    <a class="btn btn-primary m-2" role="button" href="{% url 'assignments:new' %}">Create Assignment</a>

{% endblock content %}