{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Assignment Edit{% endblock %}

{% block content %}

{% if deviceassignment %}

    <form method="post">
        {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ol>
                    {% for error in form.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %} 

        <div class="row">
            <div class="col md-6">
                {% include './partials/deviceassignment_infobox.html' with bottom_infobox_card='./deviceassignment_turnin_buttons.html'%}
            </div>
        </div>

    </form>

        

    {% else %}

    <p>Assignment Not Found</p>

    {% endif %}

    

{% endblock content %}