 <div class="card {{card_class}}" style="{{card_style|default:"width: 100%;"}}">

    {% block card_title %}
    <div class="card-header {{card_header_class}}">
        <h3 class="card-title {{card_title_class}}">
            {% block card_title_content %}
            {% endblock %}
        </h3>
    </div>
    {% endblock card_title %}

    {% block card_body %}
    <div class="card-body {{card_body_class}}">
        {% block card_body_content %}
        {% endblock %}
    {% endblock card_body %}
    </div>
</div>