{% extends 'partials/card.html' %}
{% load tz %}

{% block card_title_content %}{{card_title}}{% endblock %}

{% block card_body_content%}

  <p class="card-text">

    {% if infobox %}

      {% for row in infobox%}

        {% include 'partials/card_body_row.html' with label=row.label value=row.value %}
      
      {% endfor %}
    
    {% endif %}

    
    {% if bottom_infobox_card %}

      <hr class="border border-secondary border-2 opacity-35">
      <div class="d-flex justify-content-md-center">

        {% include bottom_infobox_card %}

      </div>

    {% endif %}
    
  </p>

{% endblock card_body_content %}