{% url 'assignments:edit' deviceassignment.id as edit_url%}
{% url 'assignments:turnin' deviceassignment.id as turnin_url%}
{% url 'assignments:delete' deviceassignment.id as delete_url%}
{% url 'assignments:index' as index_url%}


{% if perms.assignments.view_deviceassignment %}
  {% include 'partials/button.html' with value="List" href=index_url %}  
{% endif %}

{% if perms.assignments.change_deviceassignment %}
  {% include 'partials/button.html' with value="Edit" href=edit_url %}
{% endif %}

{% if deviceassignment.return_datetime is None %}
  {% if perms.assignments.turnin_deviceassignment %}
    {% include 'partials/button.html' with value="Turn in" href=turnin_url %}
  {% endif %}
{% endif %}
{% if perms.assignments.delete_deviceassignment %}
  {% include 'partials/button.html' with value="Delete" href=delete_url btn_class='btn-danger' %}
{% endif %}
