{% url 'assignments:edit' deviceassignment.id as edit_url%}
{% url 'assignments:delete' deviceassignment.id as delete_url%}
{% url 'assignments:index' as index_url%}


{% if perms.assignments.view_deviceassignment %}
  {% include 'partials/button.html' with value="Assignment List" href=index_url %}  
{% endif %}

{% if perms.assignments.change_deviceassignment %}
  {% include 'partials/button.html' with value="Edit Assignment" href=edit_url %}
{% endif %}

{% if perms.assignments.delete_deviceassignment %}
  {% include 'partials/button.html' with value="Delete Assignment" href=delete_url class='danger' %}
{% endif %}
