{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Person Detail{% endblock %}

{% block content %}

    {% if person %}

        <div class="row">
            <div class="col md-6">
                {% include './partials/person_infobox.html' with bottom_infobox_card='./person_control_buttons.html' %}
            </div>
            <div class="col md-3">
                {% include './partials/person_auditlog.html' %}
            </div>
        </div>

    {% else %}

    <p>Person Not Found</p>

    {% endif %}

{% endblock content %}