{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Person Confirm Delete{% endblock %}

{% block content %}

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {% block infobox %}
        {% include './partials/person_infobox.html'%}
        {% endblock infobox %}
        {{ form }}
        <button class="button btn btn-danger mx-3 p-3" type="submit">Delete {{ object }}</button>
        <a class="button btn btn-primary mx-3 p-3" href="{%url 'people:detail' object.id%}">Cancel</a>
    </form>

{% endblock content %}