{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - People{% endblock %}

{% block head %}

    {{ block.super }}

    {% include "partials/datatables.html"%}

    {% load static %}
    <script src="{% static 'people/person_list.js'%}"></script>

{% endblock head %}

{% block content %}

    {% include 'partials/table.html' with table_id='person_list' %}

    {% if perms.people.add_person %}
        <a class="btn btn-primary m-2" role="button" href="{% url 'people:new' %}">Create Person</a>
    {% endif %}

{% endblock content %}