{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Person Detail{% endblock %}

{% block content %}

{% if person %}

    <ul>

        <li>Person Type: {{person.type}}</li>
        <li>Person Internal ID: {{person.internal_id}}</li>
        <li>Person First Name: {{person.first_name}}</li>
        <li>Person Last Name: {{person.last_name}}</li>

    </ul>
    <a class="btn btn-primary m-2" role="button" href="{% url 'people:edit' person.id%}">Edit Person</a>
    <a class="btn btn-primary m-2" role="button" href="{% url 'people:index' %}">Person List</a>

{% else %}

    <p>Person Not Found</p>

{% endif %}

{% endblock content %}