{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Person Detail{% endblock %}

{% block content %}

    {% if person %}

        <div class="row">
            <div class="col md-6">
                {% include './partials/person_infobox.html' with infobox_footer='people/partials/person_control_buttons.html' col_label_class="col-md-4" %}
            </div>
            <div class="col md-3">
                {% include './partials/person_auditlog.html' %}
            </div>
        </div>

    {% else %}

    <p>Person Not Found</p>

    {% endif %}

{% endblock content %}