{% url 'people:edit' person.id as edit_url%}
{% url 'people:delete' person.id as delete_url%}
{% url 'people:index' as index_url%}


{% if perms.people.view_person %}
  {% include 'partials/button.html' with value="List" href=index_url %}  
{% endif %}

{% if perms.people.change_person %}
  {% include 'partials/button.html' with value="Edit" href=edit_url %}
{% endif %}

{% if perms.people.delete_person %}
  {% include 'partials/button.html' with value="Delete" href=delete_url btn_class='btn-danger' %}
{% endif %}
