{% url 'devices:edit' device.id as edit_url%}
{% url 'devices:delete' device.id as delete_url%}
{% url 'devices:index' as index_url%}


{% if perms.devices.view_device %}
  {% include 'partials/button.html' with value="List" href=index_url %}  
{% endif %}

{% if perms.devices.change_device %}
  {% include 'partials/button.html' with value="Edit" href=edit_url %}
{% endif %}

{% if perms.devices.delete_device %}
  {% include 'partials/button.html' with value="Delete" href=delete_url class='danger' %}
{% endif %}
