.detail-sticky-header {
    position: fixed;
    top: 56px;
    display: block;
    align-self: flex-start;
    z-index: 1020;
    margin: 0px;
    width: 100vw;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}