.inventory-inner-nav a{
    font-size: 18px;
}

.inventory-inner-nav a.active{
    background-color: #dce9fafd;
}
.inventory-inner-nav a.nav-link:hover{
    background-color: #cacff0fd;
}

.card-text > * li{
    padding-top: 0.5rem;
}

.card{
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.inventory-inner-top{
    top: 56px;
    z-index: 2000;
}

.inventory-icon-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
    -moz-transition:    -moz-transform 550ms ease;
    -ms-transition:     -ms-transform 550ms ease;
    -o-transition:      -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
  }

  .inventory-icon-rotate-360 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    display: inline-block;
    -moz-transition:    -moz-transform 550ms ease;
    -ms-transition:     -ms-transform 550ms ease;
    -o-transition:      -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
  }

  .half-circle {
    /*clip-path: circle(50px at 60px);*/
    z-index:99999;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%, 15% 50%);

    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    border-left: 0px;
}