{% extends 'partials/action_button_group.html' %}

{% block buttons %}

{% if perms.assignments.view_deviceassignment %}
    <a href="{% url "assignments:detail" deviceassignment.id %}" type="button" class="btn btn-primary" alt="view"><i class="bi bi-eye"></i></a>
{% endif %}

{% if perms.assignments.change_deviceassignment %}
    <a href="{% url "assignments:edit" deviceassignment.id %}" type="button" class="btn btn-secondary" alt="edit"><i class="bi bi-pencil"></i></a>
{% endif %}

{% if perms.assignments.turnin_deviceassignment %}
    <a href="{% url "assignments:turnin" deviceassignment.id %}" type="button" class="btn {% if deviceassignment.return_datetime %} disabled btn-secondary{% else %}btn-success{% endif %}" alt="edit"><i class="bi bi-clipboard-check"></i></a>
{% endif %}

{% if perms.assignments.delete_deviceassignment %}
    <a href="{% url "assignments:delete" deviceassignment.id %}" type="button" class="btn btn-danger" alt="delete"><i class="bi bi-trash2"></i></a>
{% endif %}

{% endblock buttons %}
    