{% load static sekizai_tags %}
<html>
  <head>
  
{% block head %}
    <title>{% block title %}Inventory{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'inventory/img/favicon.ico' %}" />
{% endblock head %}

<!-- CSS -->
{% addtoblock "css" %}
  <link href="{% static 'inventory/css/bootstrap.min.css'%}" rel="stylesheet" />
  <link href="{% static 'inventory/css/bootstrap-icons.css'%}" rel="stylesheet" />
{% endaddtoblock %}
{% block css %}{% endblock css %}
{% render_block "css" %}




<!-- JS -->
{% addtoblock "js" %}
  <script src="{% static 'inventory/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'inventory/js/bootstrap.bundle.min.js' %}"></script>
{% endaddtoblock %}

{% block js %}{% endblock js %}
{% render_block "js" %}

  </head>
  <body>
    {% block base_content %} 
    {% endblock base_content %} 
  </body>
</html>


