<table id="{% block table_id %}{% endblock %}" class="{% block table_class %}table table-striped table-bordered nowrap{% endblock %}" style="{% block table_style %}width:100%{% endblock %}">
    <thead>
        {% block thead %}
            {% for value in headers %}
            <th>{{value}}</th>
            {% empty %}
            No Headers Provided for Template
            {% endfor %}
        {% endblock thead %}
    </thead>
    <tbody>
        {% block tbody %}
        {% endblock tbody %}
    </tbody>
    <tfoot>
        {% block tfoot %}
            {% if footers %}
                {% for value in headers %}
                    <th></th>
                {% endfor %}
            {% endif %}
        {% endblock tfoot %}
    </tfoot>
</table>