<ul class="navbar-nav ms-auto mb-2 mb-md-0">
    <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.profile.display_name }}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li class="nav-item">
                <a class="nav-link" aria-current="page"  href="{% url "profile:profile" %}">Profile</a>
                <a class="nav-link" aria-current="page"  href="{% url "authentication:logout" %}">Logout</a>
            </li>
        </ul>
    </li>
</ul>