<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == "dashboard" %}active{% endif %}" aria-current="page" href="{% url "dashboard:dashboard" %}">Dashboard</a>
                </li>
                {% if perms.devices.view_device %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.namespace == "devices" %}active{% endif %}" aria-current="page" href="{% url "devices:index" %}">Devices</a>
                    </li>
                {% endif %}
                {% if perms.people.view_person %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.namespace == "people" %}active{% endif %}" aria-current="page" href="{% url "people:index" %}">People</a>
                    </li>
                {% endif %}
                {% if perms.assignments.view_deviceassignment %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.namespace == "assignments" %}active{% endif %}" aria-current="page" href="{% url "assignments:index" %}">Assignments</a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin Config</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li class="nav-item"><a class="nav-link {% if request.resolver_match.namespace == "googlesync" %}active{% endif %}" aria-current="page"  href="">Google Sync</a></li>
                            <li class="nav-item"><a class="nav-link {% if request.resolver_match.namespace == "admin" %}active{% endif %}" aria-current="page"  href="{%url 'admin:index'%}">Admin</a></li>
                        </ul>
                    </li>
                {% endif %}
                
            </ul>
            {% block nav_user %}
            {% include "dashboard/partials/dashboard_nav_user.html"%}
            {% endblock nav_user %}
        </div>
    </div>
</nav>


    