<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "dashboard:view" %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "devices:index" %}">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "people:index" %}">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "assignments:index" %}">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Audit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>