<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == "dashboard" %}active{% endif %}" aria-current="page" href="{% url "dashboard:index" %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == "devices" %}active{% endif %}" aria-current="page" href="{% url "devices:index" %}">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == "people" %}active{% endif %}" aria-current="page" href="{% url "people:index" %}">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == "assignments" %}active{% endif %}" aria-current="page" href="{% url "assignments:index" %}">Assignments</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Google Config</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Service Account</a></li>
                        <li><a class="dropdown-item" href="#">Mapping</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled {% if request.resolver_match.namespace == "audit" %}active{% endif %}">Audit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>