{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Devices{%endblock %} 

{% block head %}

    {{ block.super }}

    {% include "partials/datatables.html"%}

    {% load static %}
    <script src="{% static 'devices/device_list.js'%}"></script>

{% endblock head %}

{% block content %} 
    <div class="container-fluid mt-2">

    {% with prefix=tables.device_list %}
        {% include 'partials/table.html' with table_id=prefix.id headers=prefix.headers %}
    {% endwith %}
    
    {% if perms.devices.add_device %}
        <a class="btn btn-primary m-2" role="button" href="{% url 'devices:new' %}">Create Device</a>
    {% endif %}

    </div>
{% endblock content %}
