{% extends "dashboard/dashboard.html" %}

{% block title %}Inventory - Devices{%endblock %} 

{% block head %} 

{% include "partials/datatables.html"%}

{% load static %}
<script src="{% static 'devices/device_list.js'%}"></script>

{% endblock head %}

{% block content %} 

  <table id="device_list" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Asset ID</th>
        <th>Serial Number</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

<a class="btn btn-primary m-2" role="button" href="{% url 'devices:new' %}">Create Device</a>

{% endblock content %}
