{% extends "dashboard/dashboard.html" %}

{% load static sekizai_tags %}

{% block title %}Inventory - Device Detail{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link href="{% static 'inventory/css/partials/detail/card.css' %}" rel="stylesheet" />
    {% endaddtoblock %}
    <div class="container-fluid p-0">
        <div class="row mx-0 g-0 h-100 d-flex flex-nowrap">
            <div class="col-auto sticky-top" style="z-index: 1021; top:56;">
                {% include './partials/device_detail/inner_nav.html' %}
            </div>

            <div class="col">
                {% include './partials/device_detail/sticky_header.html' %}
                <div class="col tab-content" style="margin-top: 76px;">
                    <div class="tab-pane  show active" id="device-detail" role="tabpanel" aria-labelledby="device-detail-tab" tabindex="0">
                        {% include './partials/device_detail/tab_device_detail.html' %}
                    </div>
                    <div class="tab-pane " id="device-history" role="tabpanel" aria-labelledby="device-history-tab" tabindex="0">
                        {% include './partials/device_detail/tab_device_history.html' %}
                    </div>
                    <div class="tab-pane " id="assignment-history" role="tabpanel" aria-labelledby="assignment-history-tab" tabindex="0">
                        {% include './partials/device_detail/tab_assignment_history.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}