{% extends "base.html" %} 
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}">
{% endblock %}
{% block base_content %} 



<div class="container text-center flex">
  <div class="row align-items-center">
  <main class="form-signin w-100 m-auto" style="max-width:330px">
    <form method="post" action="{% url 'authentication:login' %}">
      {% csrf_token %}
      <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        <strong>Your username and password didn't match. Please try again.</strong>
      </div>
      {% endif %} 
      
      {% if next %} 
      {% if user.is_authenticated %}
      <div class="alert alert-warning" role="alert">
        <strong>Your account doesn't have access to this page. To proceed, please login with
          an account that has access.</strong>
      </div>
      {% else %}
      <div class="alert alert-warning" role="alert">
        <strong>Please login to see this page.</strong>
      </div>
      {% endif %} 
      {% endif %}

      <div class="form-floating">
        <input type="text" class="form-control" id="{{form.username.id_for_label}}" placeholder="name@example.com" name="{{form.username.html_name}}">
        <label for="{{form.username.id_for_label}}">{{form.username.label_tag}}</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="{{form.password.id_for_label}}" placeholder="Password" name="{{form.password.html_name}}">
        <label for="{{form.password.id_for_label}}">{{form.password.label_tag}}</label>
      </div>
      <button id="submit_button" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
    </form>
  </main>
  </div>
</div>
{% endblock %}
