{% extends 'partials/inner_nav.html' %}
<!-- vertical nav-->

{% block nav_links %}
<a class="nav-link active" href="#deviceassignment-detail-tab" id="deviceassignment-detail-tab" data-bs-toggle="tab" data-bs-target="#deviceassignment-detail" type="button" role="tab" aria-controls="deviceassignment-detail" aria-selected="true" aria-current="page">

    <svg xmlns="http://www.w3.org/2000/svg" class="align-top" width="27" height="27" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 18 18">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    <span class="inventory-innernav-text text-truncate align-bottom">Details</span>
</a>
<a class="nav-link" href="#deviceassignment-history-tab" id="deviceassignment-history-tab" data-bs-toggle="tab" data-bs-target="#deviceassignment-history" type="button" role="tab" aria-controls="deviceassignment-history">
    <svg xmlns="http://www.w3.org/2000/svg" class="align-top" width="27" height="27" fill="currentColor" class="bi bi-calendar" viewBox="0 0 18 18">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
    </svg>
    <span class="inventory-innernav-text text-truncate align-bottom">History</span>
</a>

{% endblock nav_links %}